.register{
    width: 360px;
    height: 500px;
    margin: 25px auto 0;
    padding: 25px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.title{
    font-size: 26px;
    font-weight: 600;
    
}